//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Colors
$yellow: #ff9900;
$darkYellow: #de8500;
$dark: #2f281e;
$gray: #544837;
$sky: #bcd0e5;
$darkSky: #9daebf;
$blue: #173a56;
$altBlue: #567592;
$light: #ffffff;
$dot: #efefef;
$input: #45525f;

//Mixins
@mixin flexbase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin links {
  text-decoration: none;
  color: $gray;
}

@mixin list {
  list-style-type: none;
}

@mixin btn {
  @include links;
  padding: 11px 24px;
  border: 1px solid $sky;
  line-height: 1.5rem;
  border-radius: 4px;
  background-color: transparent;
  color: $blue;
  transition: 0.2s;

  &:active {
    background-color: $darkSky;
    color: $light;
    border-color: transparent;
  }
}

@mixin btn-primary {
  @include btn;
  border-color: $yellow;
  background-color: $yellow;
  color: $light;
  font-weight: 700;

  &:active {
    background-color: $darkYellow;
    border-color: transparent;
  }
}

@mixin title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.375rem;
  color: $dark;
}

@mixin chatbox-right {
  background-color: $light;
  color: $dark;
  padding: 14px 20px 15px;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  border-radius: 26px;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 64px;
  &::after {
    content: "";
    width: 17px;
    height: 17px;
    background: $light;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    right: 34px;
  }
  &::before {
    content: "";
    width: 9px;
    height: 9px;
    background: $light;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    right: 16px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  }
}

@mixin chatbox-left {
  @include chatbox-right;
  right: initial;
  left: 60px;
  &::before {
    right: initial;
    left: 16px;
  }
  &::after {
    right: initial;
    left: 34px;
  }
}

@mixin chatavatar {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
}

@mixin input {
  max-width: 329px;
  height: 48px;
  border: 1px solid $sky;
  color: $sky;
  border-radius: 4px;
  padding: 12px 15px 12px;
}

//Style
* {
  box-sizing: border-box;
}

p,
h1,
h3 {
  margin: 0;
}

img {
  pointer-events: none;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 26px;
  color: $gray;
  font-size: 16px; // typography base for rem
}

.header {
  margin-top: 16px;
  margin-bottom: 50px;

  &__inner {
    @include flexbase;
  }
}

.menu {
  margin-left: auto;

  &__list {
    @include flexbase;
    @include list;
    font-size: 0.875rem;

    &-item + &-item {
      margin-left: 24px;
    }

    &-link {
      @include links;
      &:hover,
      &:active,
      &:focus {
        color: $dark;
      }
    }
  }
}

.user-nav {
  margin-left: 50px;
  margin-right: 12px;

  &__link {
    font-weight: 600;
    @include btn;
  }

  &__link + &__link {
    @include btn-primary;
    margin-left: 10px;
  }
}

.offer {
  margin-bottom: 112px;
}

.offer__inner {
  @include flexbase;
  padding: 133px 0 80px 0;
  background: url(../img/welcome.svg) no-repeat;
  background-position: bottom right;

  &-content {
    flex-basis: 42%;

    .title {
      font-size: 2.75rem;
      line-height: 3.375rem;
      color: $dark;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .desc {
      font-size: 1.125rem;
      margin-bottom: 45px;
      font-weight: 400;
    }
  }
}

.cta {
  &__link {
    @include btn-primary;
    margin-right: 42px;
    padding: 14px 41px;
  }

  &__link-video {
    color: $yellow;
    font-weight: 600;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      transform: translate(-50%, -50%);
      width: 17px;
      height: 19px;
      background: url(../img/video.svg) no-repeat;
      padding-left: 30px;
    }
  }
}

.tools__inner {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
  background: url("../img/bg.svg") no-repeat;
  background-position: center bottom;
  background-size: cover;

  .title {
    @include title;
    max-width: 539px;
    margin: 0 auto 54px;
  }

  .cta {
    @include btn-primary;
    padding: 14px 32px;
  }

  &-box {
    @include flexbase;
    align-items: flex-start;
    margin: 0 12px 36px 12px;
  }

  &-icon {
    margin-bottom: 20px;
  }

  &-item {
    flex-basis: 20%;
    /* padding-top: 80px; */
    text-align: initial;

    .subtitle {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: $dark;
      margin-bottom: 13px;
    }
  }
}

.direction {
  margin: 120px 0 157px 0;

  .big-img {
    max-width: 520px;
  }
}

.direction__inner-box {
  @include flexbase;
  margin-bottom: 100px;
}

.box__text {
  flex-basis: 45%;

  &-title {
    @include title;
    margin-bottom: 22px;
  }

  &-subtitle {
    display: block;
    font-size: 1rem;
    margin-bottom: 0;
    color: $gray;
    font-weight: 500;
  }

  &-desc {
    margin-bottom: 30px;
  }

  &__item + &__item {
    margin-top: 25px;
  }

  &__item {
    &-title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 12px;
      color: $dark;
    }
  }

  &__list {
    @include list;
    padding: 0;

    & > li::before {
      content: "";
      background: url("../img/checkmark.svg") no-repeat;
      width: 35px;
      height: 35px;
      position: absolute;
      left: 0;
      top: 8px;
    }

    &-item {
      position: relative;
      padding-left: 65px;
      max-width: 87%;
      & + & {
        margin-top: 30px;
      }
    }
  }
}

.team {
  padding: 230px 0 380px 0;
  background: url("../img/team-bg.svg") no-repeat;
  background-position: center top;
  background-size: cover;

  .team__box {
    text-align: center;
    margin: 0 auto;

    &-title {
      @include title;
      font-size: 2.25rem;
      margin-bottom: 22px;
    }

    &-desc {
      max-width: 542px;
      margin: inherit;
      margin-bottom: 45px;
      color: $blue;
    }
    &-link {
      @include btn-primary;
      padding: 14px 32px;
    }
  }

  .team__inner {
    max-width: inherit;
    position: relative;

    &__item {
      position: absolute;
      height: 139px;

      &-img--right {
        @include chatavatar;
        bottom: 0;
        right: 0;
      }
      &-desc--right {
        @include chatbox-right;
      }

      &-img--left {
        @include chatavatar;
        bottom: 0;
        right: initial;
        left: 0;
      }
      &-desc--left {
        @include chatbox-left;
      }

      &-one {
        top: -86px;
        right: 72px;
      }

      &-two {
        top: 184px;
        right: 0;
      }

      &-three {
        top: 364px;
        right: calc(100% - 70%);
      }

      &-four {
        top: 224px;
        left: 0;
        .team__inner__item-img--right {
          @include chatavatar;
          bottom: 0;
          right: initial;
          left: 203px;
        }
        .team__inner__item-desc--right {
          @include chatbox-right;
          left: 0;
          right: initial;
        }
      }

      &-five {
        top: -40px;
        left: 0;
      }
    }
  }
}

.blog {
  padding: 80px 0 120px 0;

  .tns-item[aria-hidden="true"] + .tns-item {
    .blog__post-title {
      color: $yellow;
    }
  }

  .tns-nav {
    display: flex;
    justify-content: center;

    button.tns-nav-active {
      background-color: $yellow;
    }

    button {
      width: 16px;
      height: 16px;
      border: transparent;
      background-color: $dot;
      border-radius: 50%;
    }

    button + button {
      margin-left: 10px;
    }
  }

  &__title {
    @include title;
    margin-bottom: 9px;
  }

  &__desc {
    margin-bottom: 55px;
  }

  &__slider {
    padding-bottom: 57px;
    @include flexbase;
    align-items: flex-start;
  }

  &__post {
    max-width: 348px;

    #post-author {
      @include links;
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 700;
    }

    &-info {
      margin-bottom: 12px;
    }

    &-cover {
      max-width: inherit;
      border-radius: 8px 8px 0px 0px;
      object-fit: cover;
      margin-bottom: 25px;
    }

    &-title {
      @include title;
      font-size: 1.5rem;
      line-height: 2.125rem;
      max-width: 312px;
      & > a {
        @include links;
        color: inherit;
      }
    }
  }
}

.footer {
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #dde7f2;
    display: block;
  }
}

.footer__menu {
  @include flexbase;
  align-items: flex-start;
  padding: 102px 0 102px 0;

  &-box {
    @include list;
    padding: 65px 0 0 0;
    margin: 0;

    &--item {
      & + & {
        margin-top: 12px;
      }
    }

    &--item a {
      @include links;
    }
  }

  &__user {
    align-self: flex-end;
    &-input {
      @include input;
      display: block;
      margin-bottom: 21px;
      &::focus {
        border-color: $input;
        color: $input;
      }
    }
    &-btn {
      @include btn-primary;
    }
  }
}

.modal__box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: hidden;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;

  &__inner {
    @include flexbase;
    align-items: flex-start;
    justify-content: center;
    margin: 20% 0;
  }

  &__inner-video {
    background: #fff;
    &--content {
      width: inherit;
      height: inherit;
      border: transparent;
    }
  }

  &__inner-closer {
    width: 48px;
    height: 48px;
    background: url("../img/closer.svg") no-repeat;
    cursor: pointer;
  }

  .plyr--video {
    width: 640px;
  }
}

.toggle {
  @include flexbase;
  flex-direction: column;
  justify-content: center;
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  & > span {
    display: block;
    height: 2px;
    width: inherit;
    background: $dark;
    position: absolute;

    &::before {
      content: "";
      width: inherit;
      height: 2px;
      background: $dark;
      display: block;
      position: absolute;
      top: -6px;
      left: 0;
    }
    &::after {
      content: "";
      width: inherit;
      height: 2px;
      background: $dark;
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}

.menu__mobile {
  @include flexbase;
  width: 100%;
  justify-content: flex-end;
  position: relative;

  &__box {
    width: 320px;
    background: #1a1a1a;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    &__list {
      @include list;
      @include flexbase;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;
      padding: 0 32px 0;
      &-item {
        margin-left: 0;
        padding: 12px 0;
      }
      &-link {
        @include links;
        color: $light;
        font-weight: 18px;
      }
    }

    &-user-nav {
      @include flexbase;
      justify-content: flex-start;
      padding: 0 32px 0;

      &__link {
        @include btn;
        font-weight: 500;
        color: $sky;
        padding: 8px 22px;
        & + & {
          @include btn-primary;
          font-weight: 500;
          margin-left: 8px;
          padding: 8px 22px;
        }
      }
    }
  }
}

#toggle,
.menu__mobile {
  display: none;
}

@media (max-width: 900px) {
  #toggle,
  .menu__mobile {
    display: block;
  }
  .header__inner {
    padding-top: 20px;
    @include flexbase;
    flex-wrap: wrap;
  }
  .menu__list,
  .user-nav {
    display: none;
  }
}
