//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Colors
$yellow: #ff9900;
$darkYellow: #de8500;
$dark: #2f281e;
$gray: #544837;
$sky: #bcd0e5;
$darkSky: #9daebf;
$blue: #173a56;
$altBlue: #567592;
$light: #ffffff;

//Mixins
@mixin flexbase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin links {
  text-decoration: none;
  color: $gray;
}

@mixin list {
  list-style-type: none;
}

@mixin btn {
  @include links;
  padding: 11px 24px;
  border: 1px solid $sky;
  line-height: 24px;
  border-radius: 4px;
  background-color: transparent;
  color: $blue;
  transition: 0.2s;

  &:active {
    background-color: $darkSky;
    color: $light;
    border-color: transparent;
  }
}

@mixin btn-primary {
  @include btn;
  border-color: $yellow;
  background-color: $yellow;
  color: $light;
  font-weight: 700;

  &:active {
    background-color: $darkYellow;
    border-color: transparent;
  }
}

@mixin title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 54px;
  color: $dark;
}

//Style
* {
  box-sizing: border-box;
}

p,
h1,
h3 {
  margin: 0;
}

img {
  pointer-events: none;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 26px;
  color: $gray;
  font-size: 16px; // typography base for rem
}

.header {
  margin-top: 16px;
  margin-bottom: 50px;

  &__inner {
    @include flexbase;
  }
}

.menu {
  margin-left: auto;

  &__list {
    @include flexbase;
    @include list;
    font-size: 0.875rem;

    &-item + &-item {
      margin-left: 24px;
    }

    &-link {
      @include links;
      &:hover,
      &:active,
      &:focus {
        color: $dark;
      }
    }
  }
}

.user-nav {
  margin-left: 50px;
  margin-right: 12px;

  &__link {
    font-weight: 600;
    @include btn;
  }

  &__link + &__link {
    @include btn-primary;
    margin-left: 10px;
  }
}

.offer {
  margin-bottom: 112px;
}

.offer__inner {
  @include flexbase;
  padding: 133px 0 80px 0;
  background: url(../img/welcome.svg) no-repeat;
  background-position: bottom right;

  &-content {
    flex-basis: 42%;

    .title {
      font-size: 2.75rem;
      line-height: 54px;
      color: $dark;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .desc {
      font-size: 1.125rem;
      margin-bottom: 45px;
      font-weight: 400;
    }
  }
}

.cta {
  &__link {
    @include btn-primary;
    margin-right: 42px;
    padding: 14px 41px;
  }

  &__link-video {
    color: $yellow;
    font-weight: 600;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      transform: translate(-50%, -50%);
      width: 17px;
      height: 19px;
      background: url(../img/video.svg) no-repeat;
      padding-left: 30px;
    }
  }
}

.tools__inner {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
  background: url("../img/bg.svg") no-repeat;
  background-position: center bottom;
  background-size: cover;

  .title {
    @include title;
    max-width: 539px;
    margin: 0 auto 54px;
  }

  .cta {
    @include btn-primary;
    padding: 14px 32px;
  }

  &-box {
    @include flexbase;
    align-items: flex-start;
    margin: 0 12px 36px 12px;
  }

  &-icon {
    margin-bottom: 20px;
  }

  &-item {
    flex-basis: 20%;
    /* padding-top: 80px; */
    text-align: initial;

    .subtitle {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: $dark;
      margin-bottom: 13px;
    }
  }
}
